html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: 'Exo', sans-serif;
	}


#main {
        width: 640px;
        margin: 0 auto;
        overflow:hidden;
    }
    
#header {
	margin: 9px auto 0;
	height: 142px;
	width: 640px;
	background-color: #1C1918;
	background-image: url("../imagens/bg_header.png");
	background-position: bottom;
	background-repeat: repeat-x;
	color: #FB5918;
	}
	
#logo {
	margin-top: 30px;
	margin-left: 22px;
	}
	
#cabecalho {
	color: #dce9be;
	float: right;
	margin-top: 90px;
	margin-right: 10px;
	}
	
#cabecalho .local {
	font-weight: 800;
	font-size: 25px;
	font-style: italic;
	margin-right: 5px;
	}
	
#cabecalho .data {
	font-weight: 500;
	font-style: italic;
	font-size: 20px;
	margin-top: 90px;
	}

#cabecalho .data a, .data a:active, .data:visited{
	color: #FB5918;
	}
            
#content {
    width:400px;
    float:left;
    padding-top:30px;
    margin-bottom:150px;
}

#votacoes_container {
	width: 400px;
	float: left;
	position: relative;
}

.votacao_container {
	margin-bottom: 15px;
	position: relative;
}

.votacao_container:after {
	content: '';
	position: absolute;
	top: 0;
	right: -31px;
	width:31px;
	height: 54px;
	background: url(../imagens/box_ponta.png);
}

.votacao_container.active:after {
	background: url(../imagens/box_ponta_active.png);
	width: 37px;
	height: 60px;
	top: -5px;
	right: -37px;
}

.votacao_container .materia {
    background-color:#F5F1D1;
	padding: 10px;
    font-weight: 700;
	font-size: 17px;
	color: #2e2633;
	font-style: italic;
	line-height: 1.;
}

.votacao_container .comementa {
	padding-bottom: 30px;
}

.votacao_container .ementa {
	background-color:#F5F1D1;
	padding: 10px;
	font-weight: 500;
	font-size: 14px;
	color: #292929;
	line-height: 1.7;
	text-align: justify;
	padding-bottom:35px;
	}

.resultados {
	padding: 10px;
    background-color: #2e2633;
}
	
.resultados .resultado_votacao {
	font-weight: 500;
	font-size: 17px;
	float: left;
	color: #dce9be;
	width: 150px;
	}
	
.resultados .resultado_votacao.aprovado {
	color: #b3fc0a;
}

.resultados .resultado_votacao.reprovado {
	color: #ff0000;
}

/* Pesquisar significado de Rejeitado vs Reprovado. Por enquanto usamos a mesma cor */
.resultados .resultado_votacao.rejeitada, .resultados .resultado_votacao.rejeitado {
	color: #ff0000;
}

.resultados .resultado_votacao.pendente {
	color: #dce9be;
}

.resultados .tipo {
	font-weight: 500;
	font-size: 17px;
	float: center;
	color: #9AD5E4;
	}
	
.resultados .sim {
	font-weight: 500;
	font-size: 20px;
	color: #b3fc0a;
	margin-right: 20px;
	}
	
.resultados .sim a:visited, .resultados .sim a, .resultados .sim a:active {
	color: #b3fc0a;
	}
	
.resultados .nao {
	font-weight: 500;
	font-size: 20px;
	color: #ff0000;
	margin-right: 20px;
	}
	
.resultados .nao a:visited, .resultados .nao a, .resultados .nao a:active {
	color: #ff0000;
	}
	
.resultados .abstencao {
	font-weight: 500;
	font-size: 20px;
	color: #797270;
	}
	
.resultados .abstencao a:visited, .resultados .abstencao a, .resultados .abstencao a:active {
	color: #797270;
	}

.resultados .votos {
	float: right;
	width: 150x;
	text-align: right;
	}
	
#sidebar {
    width:200px;
    float:right;
    border-left: #D7D6D6 1px solid;
    padding-top: 30px;
    padding-left: 8px;
    padding-bottom: 9000px;
    margin-bottom: -9000px;
}

#parlamentares_container .thumb {
	width:35px;
	height:32px;
	margin: 1px;
	border-bottom:#2E2633 5px solid;
	}

#parlamentares_container .presente {
}

#parlamentares_container .ausente {
	opacity:0.4;
}

#parlamentares_container .partido-pv {
	border-bottom:#56A031 5px solid;
	}

#parlamentares_container .partido-pt {
	border-bottom:#F03333 5px solid;
	}
	
#parlamentares_container .partido-psdb {
	border-bottom:#22317E 5px solid;
	}
