<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Hoje na Câmara</title>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/ICanHaz.min.js"></script>
    <script type="text/javascript" src="js/misc.js"></script>
    <link rel="stylesheet" href="css/main.css" type="text/css" />

<!-- ICanHaz Templates -->
    <script id="dia" type="text/html">
        <div class="calendar">
        <a href="index.html?data={{dia}}">{{dia}}</a>
        </div>
    </script>
<!-- I Can Haz Templates -->
</head>
<body>

<div id="header"></div>

<div id="main">
    <div id="content">
        <div id="dia">
        </div>
    </div>

    <div id="sidebar">
    </div>
</div>

</body>
</html>

