<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title >Acontece na Câmara</title>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/ICanHaz.min.js"></script>
    <script type="text/javascript" src="js/misc.js"></script>
    <script type="text/javascript" src="js/camara.js"></script>
    <script type="text/javascript" src="js/jquery.tinysort.min.js"></script>
    <link rel="stylesheet" href="css/main.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Exo:700italic,800italic,600,500,500italic,400,800' rel='stylesheet' type='text/css'>

<!-- ICanHaz Templates -->
    <script id="votacao_pl" type="text/html">
        <div class="votacao_container">
        <h2 class="materia comementa">{{materia}}</h2>
        <div class="ementa">{{ementa}}</div>
        <div class="resultados">
            <span class="resultado_votacao {{resultado_class}}"><b>{{resultado}}</b></span>
            <span class="tipo">{{tipo}}</span>
            <span class="votos">
				<span class="sim"><a href="#" onclick="carregaParlamentares('{{id}}')">{{votos_consolidado.sim}}</a></span>
				<span class="nao"><a href="#" onclick="carregaParlamentares('{{id}}')">{{votos_consolidado.nao}}</a></span>
				<span class="abstencao"><a href="#" onclick="carregaParlamentares('{{id}}')">{{votos_consolidado.abstencao}}</a></span>
            </span>

        </div>
        </div>
    
    </script>
    
    <script id="votacao_other" type="text/html">
        <div class="votacao_container">
        <h2 class="materia">{{materia}}</h2>
        <div class="resultados">
            <span class="resultado_votacao {{resultado_class}}"><b>{{resultado}}</b></span>
            <span class="tipo">{{tipo}}</span>
            <span class="votos">
				<span class="sim"><a href="#" onclick="carregaParlamentares('{{id}}')">{{votos_consolidado.sim}}</a></span>
				<span class="nao"><a href="#" onclick="carregaParlamentares('{{id}}')">{{votos_consolidado.nao}}</a></span>
				<span class="abstencao"><a href="#" onclick="carregaParlamentares('{{id}}')">{{votos_consolidado.abstencao}}</a></span>
            </span>
        </div>
    </script>
    
    <script id="cabec" type="text/html">
		<div id="header">
        <img src="./imagens/logo_acontece.png" id="logo">
        <div id="cabecalho">
        <span class="local">São Paulo</span>
        <span class="data"><a href="#" onclick="mudaData('anterior')">&laquo;</a> {{data}} <a href="#" onclick="mudaData('proximo');">&raquo;</a></span>
        </div>
    </script>
    
    <script id="presencas" type="text/html">
        <b>Presentes: {{consolidado.presentes}}</b><br />
        <b>Ausentes: {{consolidado.ausentes}}</b><br />
    </script>
    
    <script id="vereador_img" type="text/html">
        <img class="vereador thumb partido-{{partido-lower}}" id="vereador-{{id}}" src="{{foto}}" title="{{nome}} - {{partido}}" partido="{{partido}}"/>
    </script>
<!-- I Can Haz Templates -->

</head>
<body>

<div id="header"></div>

<div id="main">
    <div id="content">
        <div id="votacoes_container">
        </div>
    </div>

    <div id="sidebar">
        <div id="presencas"></div>
        <div id="parlamentares_container"></div>
    </div>
</div>

</body>
</html>

